.header{
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    height: 27%;
    width: 68%;
    border-radius: 20px;
    background-color: rgba(255,255,255, 0.2);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        
}